# homework1

In [1]:
import os
import pandas as pd

In [8]:
path = r"C:\Users\19294\OneDrive\Desktop\homework1"

In [9]:
os.chdir(path)
sourcefiles = os.listdir(path)

In [11]:
[print(file) for file in sourcefiles if file.endswith(".csv")]

16k_Movies.csv

[None]

In [13]:
movie_data = pd.read_csv("16k_Movies.csv", sep = ",")

In [15]:
movie_data.head()

,Unnamed: 0,Title,Release Date,Description,Rating,No of Persons Voted,Directed by,Written by,Duration,Genres
0,0,Dekalog (1988),"Mar 22, 1996",This masterwork by Krzysztof Kieślowski is one...,7.4,118,Krzysztof Kieslowski,"Krzysztof Kieslowski, Krzysztof Piesiewicz",9 h 32 m,Drama
1,1,Three Colors: Red,"Nov 23, 1994",Krzysztof Kieslowski closes his Three Colors t...,8.3,241,Krzysztof Kieslowski,"Krzysztof Kieslowski, Krzysztof Piesiewicz, Ag...",1 h 39 m,"Drama,Mystery,Romance"
2,2,The Conformist,"Oct 22, 1970","Set in Rome in the 1930s, this re-release of B...",7.3,106,Bernardo Bertolucci,"Alberto Moravia, Bernardo Bertolucci",1 h 47 m,Drama
3,3,Tokyo Story,"Mar 13, 1972",Yasujiro Ozu’s Tokyo Story follows an aging co...,8.1,147,Yasujirô Ozu,"Kôgo Noda, Yasujirô Ozu",2 h 16 m,Drama
4,4,The Leopard (re-release),"Aug 13, 2004","Set in Sicily in 1860, Luchino Visconti's spec...",7.8,85,Luchino Visconti,"Giuseppe Tomasi di Lampedusa, Suso Cecchi D'Am...",3 h 7 m,"Drama,History"

In [16]:
movie_data.shape

(16290, 10)

In [18]:
movie_data.columns

Index(['Unnamed: 0', 'Title', 'Release Date', 'Description', 'Rating',
       'No of Persons Voted', 'Directed by', 'Written by', 'Duration',
       'Genres'],
      dtype='object')

In [20]:
movie_data.dtypes

Unnamed: 0               int64
Title                   object
Release Date            object
Description             object
Rating                 float64
No of Persons Voted     object
Directed by             object
Written by              object
Duration                object
Genres                  object
dtype: object

In [21]:
movie_data.drop(columns =["Unnamed: 0"], inplace = True)

In [25]:
movie_data["Release Date"] = pd.to_datetime(movie_data["Release Date"])

In [30]:
movie_data["Year"] = movie_data["Release Date"].dt.year

### Question number 1

In [35]:
highest_ratings_idx = movie_data.groupby(["Year"])["Rating"].idxmax()
highest_rated_movies = movie_data.iloc[highest_ratings_idx]
highest_rated_movies.reset_index(drop = True, inplace = True)
highest_rated_movies

,Title,Release Date,Description,Rating,No of Persons Voted,Directed by,Written by,Duration,Genres,Year
0,Patton,1970-02-18,This Academy Award-winning biography of Americ...,8.4,136,Franklin J. Schaffner,"Francis Ford Coppola, Edmund H. North, Ladisla...",2 h 52 m,"Biography,Drama,War",1970
1,Get Carter,1971-03-18,When his brother dies under mysterious circums...,8.5,155,Stephen Kay,"Ted Lewis, David McKenna",1 h 42 m,"Action,Crime,Drama,Thriller",1971
2,The Godfather,1972-03-24,Francis Ford Coppola's epic features Marlon Br...,9.3,"4,102",Francis Ford Coppola,"Mario Puzo, Francis Ford Coppola",2 h 55 m,"Crime,Drama",1972
3,Theater of Blood,1973-04-05,A Shakespearean actor takes poetic revenge on ...,9.0,4,Douglas Hickox,"Anthony Greville-Bell, Stanley Mann, John Kohn...",1 h 44 m,"Comedy,Drama,Horror",1973
4,The Godfather: Part II,1974-12-12,"The sequel to ""The Godfather"" continues the sa...",9.1,"1,309",Francis Ford Coppola,"Francis Ford Coppola, Mario Puzo",3 h 20 m,"Crime,Drama",1974
5,One Flew Over the Cuckoo's Nest,1975-11-19,A nice rest in a state mental hospital beats a...,8.7,569,Milos Forman,"Lawrence Hauben, Bo Goldman, Ken Kesey, Dale W...",2 h 13 m,Drama,1975
6,Rocky,1976-12-03,Rocky Balboa (Sylvester Stallone) is a Philade...,8.7,309,John G. Avildsen,Sylvester Stallone,2 h,"Drama,Sport",1976
7,The Choirboys,1977-12-23,A group of Los Angeles cops decide to take off...,9.6,28,Robert Aldrich,"Joseph Wambaugh, Christopher Knopf",1 h 59 m,"Comedy,Crime,Drama",1977
8,The Bad News Bears Go to Japan,1978-06-30,In this third film of the Bad News Bears serie...,9.3,30,John Berry,Bill Lancaster,1 h 31 m,"Comedy,Family,Sport",1978
9,Alien,1979-06-22,For the first time in nearly a quarter-century...,9.0,"1,490",Ridley Scott,"Dan O'Bannon, Ronald Shusett",1 h 57 m,"Horror,Sci-Fi",1979
10,The Blue Lagoon,1980-07-02,"In the Victorian period, two children are ship...",9.4,334,Randal Kleiser,"Henry De Vere Stacpoole, Douglas Day Stewart",1 h 44 m,"Adventure,Drama,Romance",1980
11,The Cannonball Run,1981-06-19,A motley crew of eccentric competitors partici...,9.4,171,Hal Needham,Brock Yates,1 h 35 m,"Action,Comedy,Sport",1981
12,The Toy,1982-12-10,An underemployed reporter (Richard Pryor) find...,9.5,72,Richard Donner,"Francis Veber, Carol Sobieski",1 h 42 m,Comedy,1982
13,Curse of the Pink Panther,1983-08-12,"Inspector Clouseau disappears, and the Surete ...",8.9,23,Blake Edwards,"Blake Edwards, Geoffrey Edwards",1 h 49 m,"Comedy,Crime,Mystery",1983
14,Ninja III: The Domination,1984-09-14,An evil ninja attempts to avenge his death fro...,9.6,14,Sam Firstenberg,James R. Silke,1 h 32 m,"Action,Fantasy,Thriller",1984
15,Turk 182,1985-02-15,Jimmy Lynch (Timothy Hutton) is angry because ...,10.0,9,Bob Clark,"James Gregory Kingston, Denis Hamill, John Hamill",1 h 42 m,"Comedy,Drama",1985
16,Haunted Honeymoon,1986-07-25,Two radio voice actors are getting married. La...,9.8,44,Gene Wilder,"Gene Wilder, Terence Marsh",1 h 22 m,Comedy,1986
17,House II: The Second Story,1987-08-28,The new owner of a sinister house gets involve...,9.5,301,Ethan Wiley,"Fred Dekker, Ethan Wiley",1 h 28 m,"Comedy,Fantasy,Horror",1987
18,Who Framed Roger Rabbit,1988-06-21,Gumshoe detective Eddie Valiant (Hoskins) is o...,8.6,329,Robert Zemeckis,"Jeffrey Price, Peter S. Seaman, Gary K. Wolf, ...",1 h 44 m,"Animation,Adventure,Comedy,Crime,Family,Fantas...",1988
19,Troop Beverly Hills,1989-03-24,A soon to be divorced Beverly Hills socialite ...,9.7,308,Jeff Kanew,"Ava Ostern Fries, Pamela Norris, Margaret Oberman",1 h 45 m,"Adventure,Comedy",1989
20,Madhouse,1990-02-16,The luxurious villa of yuppie couple Mark and ...,9.7,227,Tom Ropelewski,Tom Ropelewski,1 h 30 m,Comedy,1990
21,The NeverEnding Story II: The Next Chapter,1991-02-08,A young boy with a distant father enters a wor...,9.7,263,George Miller,"Karin Howard, Michael Ende",1 h 30 m,"Adventure,Drama,Family,Fantasy",1991
22,Encino Man,1992-05-22,"(Also known as ""California Man"") When they fin...",9.3,146,Les Mayfield,"George Zaloom, Shawn Schepps",1 h 28 m,Comedy,1992
23,Aspen Extreme,1993-01-22,"An autoworker and his buddy exit Detroit, move...",9.7,303,Patrick Hasburgh,Patrick Hasburgh,1 h 53 m,"Drama,Romance,Sport",1993
24,Trapped in Paradise,1994-12-02,Residents of a friendly Pennsylvania town foil...,9.3,32,George Gallo,George Gallo,1 h 51 m,"Adventure,Comedy,Crime,Romance",1994
25,Highlander: The Final Dimension,1995-01-27,"Deceived that he had won the Prize, Connor Mac...",9.4,310,Andrew Morahan,"Gregory Widen, Brad Mirman, William N. Panzer,...",1 h 39 m,"Action,Fantasy,Romance,Sci-Fi",1995
26,Two If by Sea,1996-01-12,A couple steals a Matisse painting on contract...,9.5,416,Bill Bennett,"Denis Leary, Mike Armstrong, Ann Leary",1 h 36 m,"Comedy,Crime,Romance",1996
27,Steel,1997-08-15,A scientist for the military turns himself int...,9.4,195,Kenneth Johnson,"Louise Simonson, Jon Bogdanove, Kenneth Johnson",1 h 37 m,"Action,Adventure,Crime,Fantasy,Sci-Fi",1997
28,Saving Private Ryan,1998-07-24,"During the WWII D-Day invasion, a squad of sol...",8.8,"1,327",Steven Spielberg,Robert Rodat,2 h 49 m,"Drama,War",1998
29,Men Cry Bullets,1999-10-22,"Gloria (Lauren), a novelist who enjoys rough s...",9.6,300,Tamara Hernandez,Tamara Hernandez,1 h 45 m,"Comedy,Drama",1999
30,Wildflowers,2000-09-01,A 17 year-old girl's life is changed forever w...,9.8,202,Melissa Painter,Melissa Painter,1 h 33 m,Drama,2000
31,Innocence,2001-08-17,The story of the love triangle that is created...,9.6,5,Lucile Hadzihalilovic,"Lucile Hadzihalilovic, Frank Wedekind",2 h 2 m,"Drama,Mystery",2001
32,Love in the Time of Money,2002-11-01,In this quintessentially metropolitan sexual r...,9.8,257,Peter Mattei,Peter Mattei,1 h 30 m,"Comedy,Drama,Romance",2002
33,Don't Tempt Me,2003-08-22,"Times have been tough for Heaven, with Hell wi...",9.8,310,Agustín Díaz Yanes,Agustín Díaz Yanes,1 h 52 m,"Crime,Drama",2003
34,Noel,2004-11-12,This Christmas-themed movie follows the storie...,9.7,208,Chazz Palminteri,David Hubbard,1 h 36 m,Drama,2004
35,A Hole in My Heart,2005-04-08,"A brave, shocking cinematic experience intimat...",10.0,14,Lukas Moodysson,Lukas Moodysson,1 h 38 m,Drama,2005
36,Surviving Eden,2006-08-25,"In the tradition of ""Waiting for Guffman"" and ...",10.0,7,Greg Pritikin,"Greg Pritikin, Joanne Storkan",1 h 29 m,Comedy,2006
37,Badland,2007-11-30,Jerry is a Marine reservist who was a young pa...,9.5,405,Francesco Lucente,Francesco Lucente,2 h 45 m,Drama,2007
38,Garden Party,2008-07-11,"Los Feliz, CA - On the sleazier side of Sunset...",9.8,296,Jason Freeland,Jason Freeland,1 h 28 m,Drama,2008
39,What Goes Up,2009-05-29,It is 1986. An emotionally damaged New York re...,9.5,4,Jonathan Glatzer,"Jonathan Glatzer, Robert C. Lawson",1 h 55 m,"Comedy,Drama",2009
40,Boxing Gym,2010-10-22,The subject of legendary documentarian Frederi...,9.8,16,Frederick Wiseman,NaN,1 h 31 m,Documentary,2010
41,Bunraku,2011-09-30,Using cutting-edge visuals and heart-pounding ...,9.4,530,Guy Moshe,"Boaz Davidson, Guy Moshe",1 h 58 m,"Action,Drama,Thriller",2011
42,Just 45 Minutes from Broadway,2012-10-12,"When a heart-broken actress and her ""civilian""...",9.7,264,Henry Jaglom,Henry Jaglom,1 h 52 m,"Comedy,Drama",2012
43,1st Night,2013-05-03,"Adam is a rich industrialist, who aspires to a...",9.7,178,Christopher Menaul,"Christopher Menaul, Jeremy Sams",1 h 56 m,"Comedy,Musical,Romance",2013
44,After,2014-08-08,In the winter of 2002 in chilly upstate New Yo...,9.9,83,Pieter Gaspersz,Sabrina Gennarino,1 h 39 m,"Drama,Mystery",2014
45,Paulo Coelho's Best Story,2015-07-31,Global phenomenon Paulo Coelho was not always ...,9.5,237,Daniel Augusto,Carolina Kotscho,1 h 52 m,"Biography,Drama,Music",2015
46,The Unspoken,2016-10-28,In 1997 the Anderson family vanished from thei...,9.6,484,Sheldon Wilson,Sheldon Wilson,1 h 31 m,"Horror,Thriller",2016
47,"Literally, Right Before Aaron",2017-09-29,"Still reeling from his recent breakup, Adam (J...",9.6,177,Ryan Eggold,Ryan Eggold,1 h 45 m,"Comedy,Drama",2017
48,Blue Iguana,2018-08-24,Ex-jailbirds Eddie and Paul are on parole and ...,9.6,207,Hadi Hajaig,Hadi Hajaig,1 h 40 m,"Action,Comedy,Crime,Romance,Thriller",2018
49,After,2019-04-12,"As she enters her first semester in college, T...",9.9,83,Pieter Gaspersz,Sabrina Gennarino,1 h 39 m,"Drama,Mystery",2019
50,Monsoon,2020-11-13,Kit (Henry Golding) returns to Ho Chi Minh Cit...,9.7,349,Hong Khaou,Hong Khaou,1 h 25 m,"Drama,History,Romance",2020
51,A Week Away,2021-03-26,"Nowhere left to go, Will Hawkins finds himself...",9.6,348,Roman White,"Alan Powell, Kali Bailey, Gabe Vasquez, Roman ...",1 h 30 m,"Drama,Family,Musical",2021
52,Vengeance,2022-07-29,"Ben Manalowitz, a journalist and podcaster fro...",9.8,145,Johnnie To,Ka-Fai Wai,1 h 48 m,"Action,Crime,Thriller",2022
53,A Radiant Girl,2023-02-17,"Paris, summer 1942. Irene (Rebecca Marder) is ...",9.5,276,Sandrine Kiberlain,Sandrine Kiberlain,1 h 38 m,"Drama,History",2023
54,Cora Bora,2024-06-14,Cora (Meg Stalter) puts her fledgling music ca...,9.9,18,Hannah Pearl Utt,Rhianon Jones,1 h 32 m,"Comedy,Drama",2024

In [37]:
director_count = movie_data.groupby("Directed by").agg(Num_Movies = pd.NamedAgg("Directed by", "size")).sort_values("Num_Movies", ascending = False).reset_index(drop = False)
director_count

                                        Directed by  Num_Movies
0                                       Woody Allen          50
1                                        Ron Howard          40
2                                      Ridley Scott          35
3                                  Steven Spielberg          35
4                                    Clint Eastwood          35
...                                             ...         ...
7374  Kenji Kamiyama, \n    \n      Hiroyuki Okiura           1
7375                                Damiano Damiani           1
7376                            Damien Dante Wayans           1
7377                                     Ken Marino           1
7378                                   A. Dean Bell           1

[7379 rows x 2 columns]

In [38]:
highest_rated_genre = pd.DataFrame(movie_data.groupby("Genres")["Rating"].max()).sort_values("Rating", ascending = False)
highest_rated_genre.dropna(inplace = True)
highest_rated_genre

                                        Rating
Genres
Drama                                     10.0
Comedy,Drama                              10.0
Comedy                                    10.0
Drama,Mystery                              9.9
Comedy,Drama,Horror,Thriller               9.9
...                                        ...
Action,Thriller,War                        1.9
Action,Adventure,Comedy,Drama,Fantasy      1.8
Action,Adventure,Comedy,Drama,Thriller     1.7
Action,Drama,Sport,Thriller                1.5
Drama,Crime,Action                         1.1

[1503 rows x 1 columns]

In [39]:
highest_rated_genre = pd.DataFrame(movie_data.groupby("Genres")["Rating"].max()).sort_values("Rating", ascending = False)
highest_rated_genre.dropna(inplace = True)
highest_rated_genre

                                        Rating
Genres
Drama                                     10.0
Comedy,Drama                              10.0
Comedy                                    10.0
Drama,Mystery                              9.9
Comedy,Drama,Horror,Thriller               9.9
...                                        ...
Action,Thriller,War                        1.9
Action,Adventure,Comedy,Drama,Fantasy      1.8
Action,Adventure,Comedy,Drama,Thriller     1.7
Action,Drama,Sport,Thriller                1.5
Drama,Crime,Action                         1.1

[1503 rows x 1 columns]

In [38]:
highest_rated_genre = pd.DataFrame(movie_data.groupby("Genres")["Rating"].max()).sort_values("Rating", ascending = False)
highest_rated_genre.dropna(inplace = True)
highest_rated_genre

                                        Rating
Genres
Drama                                     10.0
Comedy,Drama                              10.0
Comedy                                    10.0
Drama,Mystery                              9.9
Comedy,Drama,Horror,Thriller               9.9
...                                        ...
Action,Thriller,War                        1.9
Action,Adventure,Comedy,Drama,Fantasy      1.8
Action,Adventure,Comedy,Drama,Thriller     1.7
Action,Drama,Sport,Thriller                1.5
Drama,Crime,Action                         1.1

[1503 rows x 1 columns]